<main>
    <section>
        <h1 class="maintitle"> Bucador de Serie de Anime </h1>
        <div class="search_anime">
            <input type="text" class="js_inputSearch input_search" placeholder="Escribe para buscar..">
            <button class="js_bntSerch bnt">Buscar</button>
            <button class="js_bntReset bnt">Reset</button>
            <button class="js_bntlog">LOG</button>

        </div>
        <div class="container">
            <div class="lisfavorite hidden">
                <h3 class="title_favorite">Favoritos</h3>
                <ul class="seriesfavorite js_seriesfavorite">

                </ul>
            </div>
            <div class="lisresul hidden">
                <h3 class="title_resul">Resultados</h3>
                <ul class="serieslist js_serieslist">

                </ul>
            </div>

        </div>

    </section>

</main>